html.home > body > header {
	min-height: 80vh;
	padding-bottom: 8em;
}
html:not(.home) > body > header {
	min-height: 30vh;
	padding-bottom: 2em;
}
html.home > body > header > h1 {
	max-width: 80vw;
	width: 10em;
}
html:not(.home) > body > header > h1 {
	max-width: 80vw;
	width: 5em;
}
body > header {
	width: 100%;
	background-image: url(/img/P1480016.jpg);
	background-size: cover;
	background-position: calc(50% - 80px) 50%;
}
body > header > h1 {
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.5);
	padding-bottom: 0;
}
body > header > h1 img {
	max-width: 100%;
	height: auto;
}
