body {
	background-color: #e4e4cc;
}
body > main {
	background-color: #f8f8ee;
}
a:link,
a:visited {
	color: #2f662b;
}

h1, h2, h3, h4, h5, h6,
body > nav a:link,
body > nav a:visited,
body > footer {
	color: #2f662b;
}
body > nav a {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-collapse: collapse;
}
body > nav  a:hover {
	background-color: #f8f8ee;
	border-color: #92916e;
	text-decoration: none;
}
