body > footer {
	background: #363636;
	border-top: 2px solid #e32500;
}
body > footer > nav {
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	max-width: 100%;
	background: #262626;
}
body > footer > nav ul {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0.4em 0;
}
body > footer > nav li {
	display: inline;
	font-size: 1.1em;
	line-height: 2em;
	font-weight: 600;
}
body > footer > nav a {
	padding: 0.2em;
}
body > footer > nav a:hover {
	text-decoration: none;
	color: black;
	background: white;
}
