/* General */
body {
	color: rgb(250, 250, 250);
	background: rgb(50, 50, 50);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+0,4d535b+100 */
background: #262626; /* Old browsers */
background: -moz-linear-gradient(top,  #262626 0%, #4d535b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #262626 0%,#4d535b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #262626 0%,#4d535b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#4d535b',GradientType=0 ); /* IE6-9 */

}
body > main > footer > nav {
	display: none;
}
article > header > p {
	display: none;
}
/* Main */
body > main > article {
	background: rgb(40, 40, 40);
}
body > main > article.fill > *,
body > main > article:not(.fill) {
	width: 40em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
body > main > article > header > *,
body > main > article > main > * {
	padding-left: 1rem;
	padding-right: 1rem;
}
body > main > article > nav,
body > main > article > footer,
body > main > article.body > header,
body > main > article.image-body > header {
	display: none;
}
html.home > body > main > article.fill > main:first-child > p:only-child {
	margin: 0;
}
html:not(.home) > body > main > article {
	padding-bottom: 0.5em;
}
/* iframe */
iframe {
	display: block;
	height: 420px;
	max-width: none;
	width: 100%;
	padding: 0 !important;
	background: rgb(250, 250, 250);
}
/* aside */
html:not(.home) > body > main > article > aside {
	float: right;
	width: 50%;
}
html:not(.home) > body > main > article > aside > img {
	width: 100%;
	height: auto;
}
html:not(.home) > body > main > article > footer,
html:not(.home) > body > main > article > .self-link {
	clear: both;
}
/* img */
html:not(.home) > body > main > article > main > p > iframe,
html:not(.home) > body > main > article > main > p > img {
	width: calc(100% + 2rem);
	margin-left: -1rem;
}
