body > header {
	text-align: center;
}
body > header > a > img {
	width: 100%;
	max-width: 14em;
}
body > footer {
	text-align: center;
}
body > nav,
body > footer,
body > header {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
body > main > aside > article > footer,
body > main > aside > footer {
	display: none;
}
@media only screen and (max-width: 29.99em) {
	body {
		margin-top: 1em;
	}
	body > * {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@media only screen and (min-width: 30em) {
	body > header,
	body > nav {
		clear: left;
		float: left;
		width: 30%;
	}
	body > main {
		margin-left: 30%;
		padding: 2%;
	}
	body > footer {
		clear: both;
	}
}
@media only screen and (min-width: 50em) {
	body > header,
	body > nav {
		width: 15em;
	}
	body > main {
		margin-left: 15em;
		padding: 1em;
		max-width: 40em;
	}
}
