/* General */
body {
	color: rgb(250, 250, 250);
	background: rgb(50, 50, 50);
}
body > main > footer > nav {
	display: none;
}
article > header > p {
	display: none;
}
/* Header */
body > header {
	position: absolute;
	width: 100%;
}
body > header > h1 {
	max-width: 30vw;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.3);
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	border-right: solid 1px rgba(255, 255, 255, 0.5);
	border-bottom: solid 1px rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding-bottom: 0;
}
/* Main */
body > main > article {
	background: rgb(10, 10, 10);
}
body > main > article > * {
	width: 40em;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}
body > main > article.body > *:not(main) {
	display: none;
}
body > main > article.half {
	float: left;
	width: calc(50% - 1px);
	margin-left: 0;
	margin-right: 0;
}
/* Footer */
