<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		{{ template "partials/head.html" . }}
	</head>
	<body>
		<header>
			{{ template "partials/header.html" . }}
		</header>
		<nav>
			{{ template "partials/menu.html" .Site.Menus.main }}
		</nav>
		<main>
			{{ range .Data.Pages }}
					{{ if (eq .File.Dir "") }}
			<article>
				<header>
					<h1>{{ .Title }}</h1>
				</header>
				{{ .Content }}
				<footer></footer>
			</article>
				{{ end }}
			{{ end }}
		</main>
		<footer>
			{{ template "partials/footer.html" . }}
		</footer>
		{{ template "partials/foot.html" . }}
	</body>
</html>
