{{ .Scratch.Add "title" "" }}
{{ if isset .Site.Data.titles .Title }}
	{{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}
{{ else }}
	{{ .Scratch.Set "title" .Title }}
{{ end }}

  <meta charset="utf-8">
  <title> {{ .Scratch.Get "title" }} &middot; {{ .Site.Title }} </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" href="/favicon.ico">
  {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/text.css">
  <link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/image.css">
